@import url('https://fonts.googleapis.com/css?family=Poppins:400,700i&display=swap');

body {
  background: rgb(255,183,14);
  color: #222222;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 16px;
}

header {
  background-color: rgb(255,183,14);
  color: #ffffff;
  text-align: center;
}

header h1 {
  margin-top: 1em;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1.45em;
}
p {
  font-size: 1em;
}
main {
  display: grid;
  grid-column-gap: 0.7em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 35em;
  grid-auto-rows: 35em;
  grid-gap: 1.25em;
  margin-left: 2em;
  margin-right: 2em;
}

section {
  margin-bottom: 1em;
}

footer {
  grid-area: valid;
  background-color: rgb(255,183,14);
  font-size: 1em;
  text-align: center;
}

footer a {
  color: #fff;
}